In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
import random
import time

In [13]:
random.seed(100)

In [14]:
dataset = pd.read_csv('../e_signing_loan_data/Financial-Data.csv')

In [15]:
# Feature Engineering

In [16]:
dataset = dataset.drop(columns=['months_employed'])

In [17]:
dataset['personal_account_months'] = (dataset.personal_account_m + (dataset.personal_account_y * 12))

In [18]:
dataset[['personal_account_m', 'personal_account_y', 'personal_account_months']].head()

   personal_account_m  personal_account_y  personal_account_months
0                   6                   2                       30
1                   2                   7                       86
2                   7                   1                       19
3                   2                   7                       86
4                   2                   8                       98

In [19]:
dataset = dataset.drop(columns=['personal_account_m', 'personal_account_y'])

In [20]:
# One hot Encoding

In [21]:
dataset = pd.get_dummies(dataset)

In [22]:
dataset.columns

Index(['entry_id', 'age', 'home_owner', 'income', 'years_employed',
       'current_address_year', 'has_debt', 'amount_requested', 'risk_score',
       'risk_score_2', 'risk_score_3', 'risk_score_4', 'risk_score_5',
       'ext_quality_score', 'ext_quality_score_2', 'inquiries_last_month',
       'e_signed', 'personal_account_months', 'pay_schedule_bi-weekly',
       'pay_schedule_monthly', 'pay_schedule_semi-monthly',
       'pay_schedule_weekly'],
      dtype='object')

In [23]:
dataset = dataset.drop(columns=['pay_schedule_semi-monthly'])

In [24]:
# Removing etra columns

In [25]:
response = dataset['e_signed']

In [26]:
user = dataset['entry_id']

In [27]:
dataset = dataset.drop(columns=['e_signed', 'entry_id'])

In [28]:
#Spliting Train and Test Set

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(dataset,
                                                   response,
                                                   test_size = 0.2,
                                                   random_state=0)

In [31]:
## Feature Scaling

In [32]:
from sklearn.preprocessing import StandardScaler

In [33]:
sc_x = StandardScaler()

In [35]:
X_train2 = pd.DataFrame(sc_x.fit_transform(X_train))

In [36]:
X_test2 = pd.DataFrame(sc_x.fit_transform(X_test))

In [37]:
X_train2.columns = X_train.columns.values

In [38]:
X_test2.columns = X_test.columns.values